<header class="header oswald upper">

  <a class="logo-main" href="/">
    <img src="/assets/images/logo-2018.png" alt="D1ChattSoccer">
  </a>
	
  <div class="navbar-topper">
    <div class="pull-right">
      <a title="D1 Training - Chattanooga" href="https://d1training.com/chattanooga/" rel="noopener" target="_blank">
        D1 Training
        <i class="fa fa-external-link">&zwnj;</i>
      </a>
    </div>
  </div>

  <nav class="navbar navbar-expand-md">
    <button class="navbar-toggler ml-auto" type="button" {{action "toggleShowMenu"}}>
      <i class="fa fa-bars fa-2x">&zwnj;</i>
    </button>

    <div class="collapse navbar-collapse {{if showMenu 'show'}}" id="menu">
      <ul class="nav navbar-nav ml-auto" {{action "toggleShowMenu" false}}>
        {{#link-to 'about' tagName="li"}}
            <a class="nav-link" href="#" target="_top">About</a>
        {{/link-to}}
        {{#link-to 'contact' tagName="li"}}
            <a class="nav-link" href="#" target="_top">Contact</a>
        {{/link-to}}
        {{#link-to 'album' tagName="li"}}
            <a class="nav-link" href="#" target="_top">Photos</a>
        {{/link-to}}
        {{#link-to 'rules' tagName="li"}}
            <a class="nav-link" href="#" target="_top">League Rules</a>
        {{/link-to}}
        {{#link-to 'standings' tagName="li"}}
            <a class="nav-link" href="#" target="_top">Standings</a>
        {{/link-to}}
        {{#link-to 'schedule' tagName="li"}}
            <a class="nav-link" href="#" target="_top">Schedule</a>
        {{/link-to}}
        
        <input type="button" class="btn btn-login oswald upper" value="Sign Up / Log In">
        
        {{!-- {{#if session.isAuthenticated}}
          {{#link-to 'secure.dashboard' tagName="li"}}
              <a class="nav-link" href="/secure/dashboard" target="_top">Dashboard</a>
          {{/link-to}}
        {{/if}}
        {{auth/login-button}} --}}
      </ul>
    </div>
  </nav>
</header>

{{!-- {{#if session.isAuthenticated}}
{{else}}
  {{auth/login-modal}}
{{/if}} --}}

{{outlet}}

<div class="footer footer-legal shadow-top">
  © 2018 D1 Sports Franchise, LLC. D1 is a registered trademark of D1 Sports Parent, LLC.
</div>